# Flask for the web framework
Flask

# Flask extensions
Flask-RESTful
Flask-Cors

# SQLAlchemy for ORM
SQLAlchemy
Flask-SQLAlchemy

# PostgreSQL database adapter
psycopg2-binary

# For handling environment variables
python-dotenv

# Pandas for data manipulation
pandas

# NumPy for numerical operations
numpy

# Scikit-learn for machine learning
# scikit-learn==1.0.2

# TensorFlow for deep learning
#tensorflow==2.8.0

# PyTorch for deep learning
torch

# Requests for making HTTP requests
requests

# Matplotlib for data visualization
matplotlib

# Plotly for interactive visualizations
plotly

# Jupyter for interactive notebooks
#jupyter

# Docker for containerization
docker

# Flask-Testing for testing
Flask-Testing

# Pytest for testing
pytest
pytest-flask

# Linter and Formatter
flake8
black

# Other useful libraries
click
gunicorn